* {
    padding: 0;
    margin: 0;
}
.container {
    background: lightsteelblue;
    float: left;
    width: 100%;
    height: 500px;
}
.h1 {
    color: darkblue;
    text-align: center;
    font-size: 36px;
}
.general-container {
    display: inline;
}
.tabs {
    overflow: hidden;
    border: none;
    margin-top: 20px;
}
.tab-element {
    align-content: center;
    padding-left: 200px;
    float: left;
    border: none;
}
.tab-this-element {
    align-content: center;
    padding-left: 200px;
    float: left;
    border: none;
    background-color: cornflowerblue;
}
.tabs a {
    text-decoration: none;
    font-size: 20px;
    color: darkblue;
}
.tabs p {
    font-size: 20px;
    color: darkblue;
}
.table-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.table {
    width: 100%;
    border: 1px solid black;
}
th {
    background-color: darkgray;
    height: 50px;
    text-align: center;
}
td {
    background-color: white;
    height: 40px;
    text-align: center;
}
.logout-btn {
    margin-top: 50px;
    width: 85px;
    height: 30px;
    float: right;
    margin-right: 50px;
}