@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico.ttf");
}
* {
    padding: 0;
    margin: 0;
}
body {
    background: url("../images/background.jpg");
}
.header {
    background: black;
    height: 40px;
    padding-top: 10px;
}
.localization {
    margin-top: 5px;
    padding-left: 100px;
    color: white;
    font-family: "Abyssinica SIL", serif ;
    font-size: 16px;
    float: left;
    width: 30%;
}
.logout {
    float: right;
    width: 10%;

}
.logout button {
    background: #73103a;
    color: white;
    width: 70px;
    height: 20px;
    border-radius: 25px;
    border: 1px solid #73103a;
    margin-top: 5px;
}
button:hover {
    background: white;
    color: gray;
}
.h1-container {
    background: url("../images/background.jpg") ;
 }
h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    font-family: 'Pacifico', serif;
    text-shadow: 4px 4px 4px #73103a;
}
.nav-container {
    height: 30px;
    background: #73103a;
    padding-top: 10px;
    align-content: center;
}
li {
    color: white;
    display: inline;
    margin-left: 200px;
}
.info-container {
    background: white;
    margin: 30px 50px 30px 50px;
    border: 4px solid #73103a;
    border-radius: 25px;
    padding: 10px;
    height: 100px;
}
.par-container {
    float: left;
    width: 70%;
}
.btn-container {
    float: right;
    width: 30%;
    align-content: center;
}
.btn-container button {
    background: #73103a;
    color: white;
    width: 70px;
    height: 20px;
    border-radius: 25px;
    border: 1px solid #73103a;
    margin-top: 5px;
}
